@import "compass/css3/border-radius";

// variables
$dark-gray: #333;
$white: #f8f7fc;
$yellow: #f5dc58;
$pink: #e695a1;
$blue: #7ca6cf;

// typography
body, h1, h2, h3, h4, h5, div, p {
  font-family: "Anonymous Pro", "Courier New";
  font-weight: bold;
}

h1 { font-size: 160px; }
h2 { font-size: 100px; }

// shared
html, body, .page {
  height: 100%;
}

.main {
  float: left;
  width: 90%;
  min-height: 100%;
}

.sidebar {
  float: left;
  width: 5%;
  min-height: 100%;
}

.white { background-color: $white; }
.yellow { background-color: $yellow; }
.pink { background-color: $pink; }
.blue { background-color: $blue; }

// section: white
.dropbox {
  $size: 600px;
  $radius: ($size / 10);
  @include border-radius($radius);
  width: $size;
  height: $size;
  border: 8px dashed $dark-gray;
  padding: 100px;
}

// section: yellow
table { width: 100%; }
tr.song-row { 
  // TODO: huh?
  @include border-radius(18px);
  border: 4px dashed $dark-gray;
}
th, td {
  font-size: 3em;
  padding: 0.4em 0.8em;
  /* @include border-radius(18px); */
  /* border: 4px dashed $dark-gray; */
}
