body, h1, h2, h3, h4, h5, div, p {
  font-family: "Anonymous Pro", "Courier New";
  font-weight: bold; }

h1 {
  font-size: 160px; }

h2 {
  font-size: 100px; }

html, body, .page {
  height: 100%; }

.main {
  float: left;
  width: 90%;
  min-height: 100%; }

.sidebar {
  float: left;
  width: 5%;
  min-height: 100%; }

.white {
  background-color: #f8f7fc; }

.yellow {
  background-color: #f5dc58; }

.pink {
  background-color: #e695a1; }

.blue {
  background-color: #7ca6cf; }

#left-arrow, #right-arrow {
  font-size: 50px;
  position: fixed;
  top: 50%;
  z-index: 1000; }

#left-arrow {
  left: 0%; }

#right-arrow {
  right: 0%; }

.dropbox {
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  width: 600px;
  height: 600px;
  border: 8px dashed #333333;
  padding: 100px; }

#search {
  font-size: 3em; }

table {
  width: 100%; }

tr.song-row {
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  border-radius: 18px;
  border: 4px dashed #333333; }

.artist, .album {
  display: none; }

th, td {
  font-size: 3em;
  padding: 0.4em 0.8em;
  /* @include border-radius(18px); */
  /* border: 4px dashed $dark-gray; */ }

.queued-song {
  list-style-type: none;
  clear: both; }

.queued-song > div {
  float: left;
  margin-bottom: 16px; }

.queued-song h1 {
  font-size: 24px; }
.queued-song h2 {
  font-size: 16px; }
.queued-song .play {
  padding: 16px;
  border: 1px solid; }
.queued-song .pause {
  padding: 16px;
  border: 1px solid; }
