/* line 11, ../../sass/jok.scss */
body, h1, h2, h3, h4, h5, div, p {
  font-family: "Anonymous Pro", "Courier New";
  font-weight: bold;
}

/* line 16, ../../sass/jok.scss */
h1 {
  font-size: 160px;
}

/* line 17, ../../sass/jok.scss */
h2 {
  font-size: 100px;
}

/* line 20, ../../sass/jok.scss */
html, body, .page {
  height: 100%;
}

/* line 24, ../../sass/jok.scss */
.main {
  float: left;
  width: 90%;
  min-height: 100%;
}

/* line 30, ../../sass/jok.scss */
.sidebar {
  float: left;
  width: 5%;
  min-height: 100%;
}

/* line 36, ../../sass/jok.scss */
.white {
  background-color: #f8f7fc;
}

/* line 37, ../../sass/jok.scss */
.yellow {
  background-color: #f5dc58;
}

/* line 38, ../../sass/jok.scss */
.pink {
  background-color: #e695a1;
}

/* line 39, ../../sass/jok.scss */
.blue {
  background-color: #7ca6cf;
}

/* line 42, ../../sass/jok.scss */
.dropbox {
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  width: 600px;
  height: 600px;
  border: 8px dashed #333333;
  padding: 100px;
}

/* line 53, ../../sass/jok.scss */
table {
  width: 100%;
}

/* line 54, ../../sass/jok.scss */
tr.song-row {
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  border-radius: 18px;
  border: 4px dashed #333333;
}

/* line 59, ../../sass/jok.scss */
th, td {
  font-size: 3em;
  padding: 0.4em 0.8em;
  /* @include border-radius(18px); */
  /* border: 4px dashed $dark-gray; */
}
